.speech{    /* for all spoken text */
color: black;
font-family: Arial, Helvetica, sans-serif;
font-size: 18px;
}

.direction{ /* for all non-spoken text */
font-family: 'Times New Roman', Times, serif;
font-size: 16px;
color: black;
background-color: rgb(156, 184, 175);
}

.direction:hover{
    background-color: rgb(101, 177, 177);
    color: black;
}

.name{
    font-weight: bold;
    color: rgb(76, 185, 185);
}

.HEDDA{
    color: rgb(106, 106, 165);
}

.MRSELVSTED{
    color: rgb(223, 223, 113);
}

.TESMAN{
    color: rgb(27, 113, 113);
}

.BRACK{
    color: rgb(234, 167, 67);
}

