.speech{    /* for all spoken text */
color: black;
font-family: Arial, Helvetica, sans-serif;
font-size: 18px;
}

.direction{ /* for all non-spoken text */
font-family: 'Times New Roman', Times, serif;
font-size: 16px;
color: black;
background-color: rgb(156, 184, 175);
}

.direction:hover{
    background-color: rgb(60, 222, 73);
    color: black;
}

.name{
    font-weight: bold;
    color: rgb(76, 185, 185);
}

.HEDDA{
    color: rgb(217, 10, 51);
}

.MRSELVSTED{
    color: rgb(53, 118, 239);
}

.TESMAN{
    color: rgb(27, 113, 113);
}

.BRACK{
    color: rgb(215, 136, 17);
}

table {
    border-collapse: separate;
    width: 100%;
    margin-top: 20px; 
    margin-bottom: 20px;
    text-align: center;
    
}
 table th {
    background-color: rgb(14, 160, 217); 
    color: ; 
    text-align: center; 
    padding: 10px; 
    border-radius: 10px;
}
table td {
    border: 1px solid #d34848;
    text-align: center; 
    padding: 10px;
    border-radius: 10px;
}

table tbody tr:nth-child(even) {
    background-color:rgb(77, 119, 155);
}

.HEDDA:hover{
    text-shadow: 2px 2px 1px #a2429f; 
    border: 1px solid #e5cb49; 
}

.MRSELVSTED:hover{
    text-shadow: 2px 2px 1px #f19576; 
    border: 1px solid #f07f81; 
}

.TESMAN:hover{
    text-shadow: 2px 2px 1px #f19576; 
    border: 1px solid #f07f81; 
}

.BRACK:hover{
    text-shadow: 2px 2px 1px #4bcba7; 
    border: 1px solid #6a57e1; 
}

ul.navbar-horizontal{
    list-style-type: style type auto;
    margin: 12px;
    padding: 4px;
}
ul.navbar-horizontal{
    float:centre;
    color: rgb(130, 29, 105);
    background-color: #afddb0;
}
ul.navbar-horizontal a{
    display: block;
    padding: 6px;
}
ul.navbar-horizontal a:hover{
    background-color: rgb(60, 132, 108);
    color: skyblue;
}